@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,700");

:root {
  --width: 920px;
  --textColor: #fff;
  --backgroundColor: #282a36;
  --orange: #ffca80;
  --green: #50fa7b;
  --purple: #bd93f9;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--backgroundColor);
  text-align: center;
  padding: 1.5em;
  color: var(--textColor);
  max-width: var(--width);
  width: 100%;
  margin: 0 auto;
}

#logo {
  width: 50px;
}

h1 {
  color: var(--orange);
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

#downloadButton {
  display: inline-block;
  font-size: 1.75em;
  font-weight: 500;
  color: var(--backgroundColor);
  padding: 0.3em 1em;
  border-radius: 10px;
  background-color: var(--green) !important;
  text-decoration: none;
  box-shadow: 5px 5px 25px #ffffff26;
  transition: all 0.2s linear;
  margin-bottom: 4rem;
}

#downloadButton:hover {
  box-shadow: none;
}

@media screen and (max-width: 920px) {
  h2 {
    font-size: 1.5rem;
  }
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#info ul {
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#info ul li {
  margin-bottom: 10px;
}

#info video {
  width: 100%;
}
